<input type="text" class="form-control" [(ngModel)]="username" (ngModelChange)="onChange($event)" />

<button class="btn btn-primary" [disabled]="username === ''" (click)="onClick()">
  <span class="glyphicon glyphicon-refresh"></span> Refresh
</button>

<p>{{ allow }}</p>

<button class="btn btn-primary" (click)="onToggle()">details</button>
<p *ngIf="allowDisplay">asdfauhaufh</p>

<div *ngFor="let clicks of clicksArray; let i = index" [ngStyle]="{ background: i > 5 ? 'blue' : 'transperent' }" [ngClass]="{ 'white-text': i > 5 }">
    {{ clicks }}
</div>