<label for="">Server name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- (input)='onUpdateServerName($event)'>  -->

<button class="btn brn-primary" [disabled]="!allowNewServer" (click)="onCreationServer()">
  Add Server
</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server {{serverName}} was created</p>
<ng-template #noServer>
    <p>nope</p>
</ng-template>


<app-server *ngFor="let server of servers"> </app-server>